<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.sanatorium.dao.AppletUserMapper">
    <resultMap id="BaseResultMap" type="com.yun.sanatorium.model.entity.AppletUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="id_no" jdbcType="VARCHAR" property="idNo"/>
        <result column="balance" jdbcType="VARCHAR" property="balance"/>
        <result column="points" jdbcType="INTEGER" property="points"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="access_token" jdbcType="VARCHAR" property="accessToken"/>
        <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken"/>
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="getOne" resultMap="BaseResultMap"
            parameterType="com.yun.sanatorium.model.entity.AppletUser">
        select *from applet_user
        <where>
            open_id = #{openId}
        </where>
    </select>
    <select id="findByAppleUser" resultMap="BaseResultMap"
            parameterType="com.yun.sanatorium.model.request.AppletUserRequest">
    select *from applet_user
    <where>
        <if test="userName != null and userName !=''">
            user_name like CONCAT('%',#{userName},'%')
        </if>
    </where>
    </select>
</mapper>