<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.sanatorium.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.yun.sanatorium.model.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="personal_id" jdbcType="VARCHAR" property="personalId" />
    <result column="personal_name" jdbcType="VARCHAR" property="personalName" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="fraction" jdbcType="VARCHAR" property="fraction" />
    <result column="project" jdbcType="VARCHAR" property="project" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="comment_type" jdbcType="VARCHAR" property="commentType" />
  </resultMap>
</mapper>