<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.sanatorium.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yun.sanatorium.model.entity.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="appointment_project" jdbcType="VARCHAR" property="appointmentProject" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
    <result column="coupon_credit" jdbcType="VARCHAR" property="couponCredit" />
    <result column="pay_amount" jdbcType="VARCHAR" property="payAmount" />
    <result column="arrival_time" jdbcType="VARCHAR" property="arrivalTime" />
    <result column="project_time" jdbcType="VARCHAR" property="projectTime" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="personal_id" jdbcType="VARCHAR" property="personalId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="select_condition">
    <if test="state != null and state != ''">AND state = #{state}
    </if>
    <if test="userName != null and userName != ''">AND user_name LIKE CONCAT(CONCAT('%',
      #{userName}), '%')
    </if>
    <if test="storeName != null and storeName != ''">AND store_name LIKE CONCAT(CONCAT('%',
      #{storeName}), '%')
    </if>
    <if test="id != null and id != ''">AND id = #{id}
    </if>
    <if test="startTime != null  and startTime != '' and endTime != null  and endTime != ''">AND create_time
      between #{startTime} and #{endTime}
    </if>
  </sql>

  <select id="getPage" parameterType="com.yun.sanatorium.model.request.OrderRequest" resultMap="BaseResultMap">
    select * from orders
    where
    1 = 1
    <include refid="select_condition"/>
    order by create_time desc
  </select>
</mapper>