<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.sanatorium.dao.ServicePersonalServiceItemMapper">
  <resultMap id="BaseResultMap" type="com.yun.sanatorium.model.entity.ServicePersonalServiceItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="service_personal_id" jdbcType="VARCHAR" property="servicePersonalId" />
    <result column="service_personal_name" jdbcType="VARCHAR" property="servicePersonalName" />
    <result column="service_category_id" jdbcType="VARCHAR" property="serviceCategoryId" />
    <result column="service_category_name" jdbcType="VARCHAR" property="serviceCategoryName" />
    <result column="service_item_id" jdbcType="VARCHAR" property="serviceItemId" />
    <result column="service_item_name" jdbcType="VARCHAR" property="serviceItemName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
</mapper>